div{
    width: 100%;
    margin: 0;
    padding: 5px;
}
h2{
    padding-top: 25px;
    padding-bottom: 25px;
    margin-left: 25%;
}
.footer{
    background-color: #454745;
    color: white;
}
a{
    color: white;
}
#icon{
    padding-left: 5px;
}
.nav{
    color: #3e444a;
}

.form{
    margin: 20px;
}
#title{
    padding-bottom: 5px;
    padding-top: 15px;
    margin-left: 3%;
}
#buttom{
    margin-left: 1%;
}
form{
    margin-left: 20px;
    margin-right: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
}

img{
    width: 200px;
    padding-top: 2px;
}

.conteudo{
    width: 100%;
}

.text{
    width: 30%;
}

#link{
    width: 50px;
    height: 50px;
    margin-left: 25px;
    margin-right: 25px;
}