div {
    width: 100%;
    color: white;
    margin: 0;
    padding: 0;
}

.topo {
    height: 80px;
    padding: 0;
    margin: 0;
}

#title {
    margin: 0;
    background-color: #808080;
    text-align: center;
    font-size: 25px;
    color: black;
    height: 50px;
    padding-top: 15px;
}

.menu {
    width: 15%;
    float: left;
    background-color: #454745;
    text-align: center;
}

#centro {
    margin-top: 15px;
    margin-bottom: 15px;
}

.principal {
    float: right;
    width: 85%;
    background-color: #9B9E9B;
    height: 350px;
}

#tableMenu {
    padding-left: 25px;
    padding-right: 50px;
    border: solid 1px black;
}

#tableMenuPrincipal {
    margin: auto;
}

.footer {
    clear: both;
    background-color: #454745;
    height: 70px;
}

#footerLink {
    padding-left: 50px;
}

a {
    color: white;
}

.form {
    margin-left: 15px;
    padding: 5px;
    color: black;
    font-weight: bold;
}

input, textarea {
    padding-left: 15x;
    display: inline;
    margin-left: 5px;
}

#buttom{
    background-color: black;
    color: white;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: 50px;
    margin-top: 15px;
}